  :root{
      --like-font-size: 2rem 
  }

.like-btn {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: all 0.5s;
    opacity: 0;
    z-index: 2;
  }
  .fa-heart{
      position: absolute;
      font-size: var(--like-font-size);
      -webkit-text-stroke: 2px #e5e5e5;
      color: whitesmoke;
      transition: all ease-in-out;
  }
   .like-btn:checked + .fa-heart{
      color: red;
      -webkit-text-stroke: 1px red;
      animation: .5s linear burst; 
  }
@keyframes burst{
	0%,10%{
		transform: scale(1);
		opacity: .5;
		color: lavender;
	}
	45%{
		transform: scale(.2) rotate(30deg);
		opacity: .75;
	}
	50%{
		transform: scale(2) rotate(-37.5deg);
		opacity: 1;
		color: red;
		text-shadow: 2px 2px 6px rgba(235, 9, 9, 0.5);
	}
	90%,95%{
		transform: scale(1) rotate(10deg);
		text-shadow: none;
	}
	100% {
		transform: rotate(-2.5deg);
	}
}