<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
   xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
   xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
   http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  
   <!-- 한글 인코딩 필터  -->
   <filter>
       <filter-name>encodingFilter</filter-name>
       <filter-class>com.jslhrd.exsample.filter.CharacterEncodingFilter</filter-class>
       <init-param>
           <param-name>encoding</param-name>
           <param-value>utf-8</param-value>
        </init-param>
   </filter>
  
   <filter-mapping>
        <filter-name>encodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
   </filter-mapping>
   
    <!--  로그인 체크 필터  --> 
      <filter>
        <filter-name>LoginCheck</filter-name>
        <filter-class>com.jslhrd.exsample.filter.LoginCheckFilter</filter-class>
     </filter>
 
     <filter-mapping>
        <filter-name>LoginCheck</filter-name>
        <url-pattern>/Admin</url-pattern>
     </filter-mapping>
     
     <listener>
        <listener-class>listener.SessionListener</listener-class>
    </listener>
     
     
</web-app>